.container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr);
  height: 100%;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 500px; */
  /* background-color: antiquewhite; */
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px red solid; */
}

.header {
  /* align-self: flex-start; */
  color: #0f236b;
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: aqua; */

  width: 70%;
  height: 400px;
  align-items: center;
}

.password {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 70%;
  /* border: 1px red solid; */
  align-content: center;
  align-items: center;
}
.text{
  width: 90%;
}
.button{
  background-color: #0f236b !important;
  color:white  !important;
  font-weight: bold;
  /* font-size: 20px; */
  width: 50%;
}
.button:hover{
  background-color: #2da895  !important;
}
Button{
  background-color:red;
  color: green;
}