.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(#4069a3, #406497); */
  /* background-image: linear-gradient(
    rgba(64, 105, 163, 1),
    rgba(64, 100, 151, 0.2)
  ); */
  border-radius: 30px;
  min-width: 300px;
}

.user_box input {
  width: 60vw;
  padding: 10px 0;
  font-size: 4.5vw;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  /* background: transparent !important; */
}

.user_box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 22px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.user_box .activeLabel {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 16px;
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form button {
  font-size: 1rem;
  text-transform: uppercase;

  background-color: #f74362;
  color: #fff;
  outline: none;
  border: 2px solid #f74362;
  letter-spacing: 4px;
  padding: 10px 20px;
  border-radius: 0 10px;
  text-decoration: none;
  box-shadow: 5px 5px 5px rgb(109, 109, 109);
  margin-top: 2vh;
}
form button:hover {
  background-color: #fff;
  color: #f74362;
  cursor: pointer;
}

.header {
  font-size: 9vw;
  color: red;
  margin-bottom: 8vh;
}

.paragraph {
  text-transform: capitalize;
  margin: 4vh 0;
}

.facebook {
  width: 60vw;
  font-size: 3vw;
  outline: none;
  border: 2px solid #4267b2;
  /* border: none; */
  background-color: #4267b2;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3vh;
}
.google {
  width: 60vw;
  font-size: 3vw;
  outline: none;
  border: 2px solid #d34b3e;
  /* border: none; */
  background-color: #d34b3e;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.facebook:hover {
  background-color: #fff;
  color: #4267b2;
  border: 2px solid #4267b2;
  cursor: pointer;
}
.google:hover {
  background-color: #fff;
  color: #d34b3e;
  border: 2px solid #d34b3e;
  cursor: pointer;
}

.facebookIcon {
  font-size: 1.5rem;
}
.googleIcon {
  font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header {
    font-size: 6vh;
    /* background-color: #d34b3e; */
  }
  .facebook {
    font-size: 2vw;
    width: 40vw;
  }
  .google {
    font-size: 2vw;
    width: 40vw;
  }
  .user_box input {
    font-size: 3.5vw;
    width: 40vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    font-size: 4vw;
    margin-bottom: 4vh;
  }
  .user_box input {
    font-size: 2vw;
    width: 25vw;
  }
  .facebook {
    font-size: 1vw;
    width: 25vw;
    margin-bottom: 2vh;
  }
  .google {
    font-size: 1vw;
    width: 25vw;
  }
  form button {
    margin-top: 1vh;
  }
  .paragraph {
    margin: 2vh 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .user_box input {
    font-size: 1.5vw;
    width: 20vw;
  }
  .facebook {
    font-size: 1vw;
    width: 20vw;
    margin-bottom: 2vh;
  }
  .google {
    font-size: 1vw;
    width: 20vw;
  }
}
